.result-page {
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.result-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.result-header > img {
 height: auto; 
 width:5vw;
}
.result-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-box {
  margin-bottom: 20px;
  text-align: center;
}
.image-box > img {
  width: 300px;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-content {
  display: flex;
  align-items: center;
}

.carousel-image-box {
  flex: 0 0 auto;
  width: 500px; /* Set a fixed width for each image box */
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.placeholder {
  font-size: 18px;
  color: #999;
}

.nav-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
  color: #333;
}

.nav-button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.logo {
  height: 50px;
  margin-left: 20px;
}
