body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.search-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 50%, #7986cb 100%);
  position: relative;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  color: #ffffff; /* Ensure text color is readable on the gradient */
}

.search-header {
  background: linear-gradient(135deg, #3f51b5 0%, #5c6bc0 50%, #7986cb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 100px;
}

.search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: 200px;
  margin: 20px 0;
  padding: 20px;
  border: 2px dashed #aaa;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  text-align: center;
  cursor: pointer;
}

.preview-container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 20px 0;
}

.preview-container img {
  max-width: 100%;
  max-height: 200px; /* Adjust height if needed */
}

.search-button {
  margin-top: 20px; /* Add spacing between image and button */
  padding: 10px 20px;
  font-size: 18px;
  background-color: #aaa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #888;
}
